<div class="content">
    <h2 class="title" *ngIf="!departmentId; else updateDepartment">Add New Department</h2>
    <ng-template #updateDepartment>
      <h2 class="title">Update Department</h2>
    </ng-template>
    <form #upsertDepartmentForm="ngForm" (ngSubmit)="upsertDepartment(upsertDepartmentForm)">
      <div class="form-group">
        <label for="departmentName">Department Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Department Name"
          required
          name="departmentName"
          ngModel="{{ department?.departmentName }}"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
