<h1 class="header">Department List</h1>
<div class="content">
  <button class="content__add" routerLink="upsert">
    Add Department
  </button>
  <table class="content__table">
    <thead>
      <th>Code</th>
      <th>Name</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{ department?.departmentCode }}</td>
        <td>{{ department?.departmentName }}</td>
        <td>
          <a routerLink="" class="content__table-link" (click)="updateDepartment(department.departmentId)"
            >Update</a
          >
          |
          <a (click)="deleteDepartment(department.departmentId)" class="content__table-link"> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
