
.header{
  margin: 5rem 0;
  text-align: center;
  font-size: 4rem;
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.content__table{
  background-color: antiquewhite;
  border: 0.1px solid ;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
td, th{
  text-align: center;
  border: 0.1px solid ;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  box-sizing: border-box;

}
td {
  min-width: 5rem;
}
tr:hover{
  opacity: 0.6;
  color: coral;
  cursor: pointer;
}
.content__add-employee{
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #3c8dbc;
  border-radius: 5rem;
  position: relative;
  left: 24rem;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
}
.content__add-employee:hover{
  opacity: 0.7;
  text-decoration: none;
}

.content__table-link{
  text-decoration: none;
  color: rgb(59, 159, 221)!important;

}

.content__search-bar{
  text-align: center;
  padding: 0.5rem;
  border-radius: 5rem;
}

.pagination{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-item{
  border-radius: 5rem;
  padding: 0.5rem;
  background-color: rgb(59, 159, 221);
  color: #fff;
  margin-bottom: 17rem;
}


