<div>
  <h1 class="header">Employee List</h1>
  <!-- Search -->
  <div class="content">
    <form class="">
      <input
        class="content__search-bar"
        type="search"
        placeholder="Search Employee"
        aria-label="Search"
        name="key"
        #key="ngModel"
        ngModel
        size="70rem"
        (ngModelChange)="searchEmployee(key.value)"
      />
    </form>

    <!-- Button Add Employee -->
    <a type="button" class="content__add-employee" (click)="onCreateEmployee()"
      >Add Employee</a
    >

    <!--Table Employee List -->
    <div class="content__table">
      <table class="">
        <thead>
          <th>Avatar</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Department</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeesFilter">
            <td *ngIf="employee.avatar; else defaultAvatar">
              <img src="{{ employee?.avatar }}" height="70" width="70" alt="Avatar" />
            </td>
            <td>{{ employee?.employeeName }}</td>
            <td>{{ employee?.employeePhone }}</td>
            <td>{{ employee?.employeeEmail }}</td>
            <td>
              {{ employee.department?.departmentName }}
            </td>
            <td>
              <a
                routerLink=""
                id="hover-action"
                class="content__table-link"
                (click)="onUpdateEmployee(employee.employeeId)"
                >Update</a
              >
              |
              <a
                (click)="deleteEmployee(employee.employeeId)"
                id="hover-action"
                class="content__table-link"
              >
                Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination Button-->
    <div class="pagination">
      <div *ngFor="let number of counter(totalPages); index as i">
        <button type="button" (click)="changePage(i)" class="pagination-item">{{ i + 1 }}</button>
      </div>
    </div>

  </div>
</div>
<!-- ng-template -->
<ng-template #defaultAvatar>
  <td>
    <img
      src="https://thelifetank.com/wp-content/uploads/2018/08/avatar-default-icon.png"
      height="70"
      width="70"
      alt=""
    />
  </td>
</ng-template>
