<div class="content">
  <h2 *ngIf="!employeeId; else updateEmployee" class="content__title">Add New Employee</h2>
  <ng-template #updateEmployee>
    <h2 class="content__title">Update Employee</h2>
  </ng-template>
  <form  [formGroup]="upsertFormEmployee" (ngSubmit)="upsertEmployee(upsertFormEmployee)" class="content__form">
    <div class="content__item">
      <label class="content__label" >Full Name</label>
      <input type="text" class="content__input" name="employeeName" formControlName="employeeName" placeholder="Enter your name" [value]="upsertFormEmployee.value?.employeeName">
    </div>
    <div *ngIf="employeeName.invalid && (employeeName.dirty || employeeName.touched)"
    class="error__input">
      <div *ngIf="employeeName.errors?.['required']" class="error__input-item">
        Name is required.
      </div>
      <div *ngIf="employeeName.errors?.['minlength']" class="error__input-item">
        Name must be at least 4 characters long.
      </div>
    </div>
    <div class="content__item">
      <label class="content__label" >Phone</label>
      <input type="text" class="content__input" name="employeePhone" formControlName="employeePhone" placeholder="Enter your Phone" [value]="upsertFormEmployee.value?.employeePhone">
    </div>
    <div *ngIf="employeePhone.invalid && (employeePhone.dirty || employeePhone.touched)"
    class="error__input">
      <div *ngIf="employeePhone.errors?.['required']" class="error__input-item">
        Phone is required.
      </div>
      <div *ngIf="employeePhone.errors?.['pattern']" class="error__input-item">
        Phone only digit.
      </div>
      <div *ngIf="employeePhone.errors?.['minlength']" class="error__input-item">
        Phone must be at least 7 digit long.
      </div>
    </div>
    <div class="content__item">
      <label class="content__label" >Email</label>
      <input type="text" class="content__input" name="employeeEmail" formControlName="employeeEmail" placeholder="Enter your Email" [value]="upsertFormEmployee.value?.employeeEmail">
    </div>

    <div class="content__item">
      <label class="content__label" >Department</label>
      <select class="content__input" name="departmentId" [value]= "departmentIdSelected" (change)="onSelectedDepartment($event)" >
        <option *ngFor="let department of departments" [value]="department.departmentId" > {{department.departmentName}} </option>
      </select>
    </div>

    <div class="content__item">
      <label class="content__label" >Avatar</label>
      <input type="file" class="content__input" name="storeImage" (change)="selectedFile($event)" >
      <img [src]="imageShow" height="90" alt="">
    </div>
    <br>
    <button type="submit" class="btn-submit">Submit</button>
  </form>
</div>

