.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85rem;
}

.content__title {
  font-size: 2.5rem;
  color: rgb(54, 139, 156);
}

.content__item {
  padding-bottom: 1.5rem;
  width: 40rem;
}
.content__label {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  display: block;
  width:30%
}

.content__input {
  min-inline-size: 40rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius:1rem;
  border-color: rgb(45, 123, 178);
  align-items:flex-end;
}

.btn-submit {
  align-items: center;
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: rgb(59, 93, 194);
  border-radius:1rem;
  align-items: center;
}

.error__input {
  margin: 0rem 1rem 1rem;
  font-size:1.2rem;
  font-weight: 600;
}

.error__input-item {
  color: rgb(243, 83, 83);
}
