<div class="app">
  <form [formGroup]="registerValidationForm" (ngSubmit)="signUpUser(registerValidationForm)" class="form">
    <div class="title">
      Register
    </div>
    <div class="form__item">
      <label for="" class="form__item-label">Name</label>
      <input type="text" formControlName="userName"  name="userName"  placeholder="Enter your name" class="form__item-input" required>
    </div>
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
    class="error__input">
      <div *ngIf="userName.errors?.['required']" class="error__input-item">
        Name is required.
      </div>
      <div *ngIf="userName.errors?.['minlength']" class="error__input-item">
        Name must be at least 4 characters long.
      </div>
    </div>
    <div class="form__item">
      <label for="" class="form__item-label">Username</label>
      <input type="text"  formControlName="userUsername" name="userUsername" placeholder="Enter your username" class="form__item-input">
    </div>
    <div *ngIf="userUsername.invalid && (userUsername.dirty || userUsername.touched)"
    class="error__input">
      <div *ngIf="userUsername.errors?.['required']" class="error__input-item">
        Username is required.
      </div>
      <div *ngIf="userUsername.errors?.['minlength']" class="error__input-item">
        Username must be at least 4 characters long.
      </div>

    </div>
    <div class="error__input">
      <div *ngIf="userUsernameError" class="error__input-item">
        {{userUsernameError}}
      </div>
    </div>
    <div class="form__item">
      <label for="" class="form__item-label">Email</label>
      <input type="text"  formControlName="userEmail" name="userEmail" placeholder="Enter your Email" class="form__item-input">
    </div>
    <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)"
    class="error__input">
      <div *ngIf="userEmail.errors?.['required']" class="error__input-item">
        Email is required.
      </div>
      <div *ngIf="userEmail.errors?.['email']" class="error__input-item">
        Email is invalid.
      </div>
    </div>
    <div class="error__input">
      <div *ngIf="userEmailError" class="error__input-item">
        {{userEmailError}}
      </div>
    </div>
    <div class="form__item">
      <label for="" class="form__item-label">Password</label>
      <input type="password" formControlName="userPassword" name="userPassword" placeholder="Enter your password" class="form__item-input">
    </div>
    <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)"
    class="error__input">
      <div *ngIf="userPassword.errors?.['required']" class="error__input-item">
        Password is required.
      </div>
      <div *ngIf="userPassword.errors?.['minlength']" class="error__input-item">
        Password must be at least 4 characters long.
      </div>
    </div>
    <div class="form__item">
      <label for="" class="form__item-label">Verify Password</label>
      <input type="password" formControlName="repassword" name="repassword" placeholder="Re-Enter your Password" class="form__item-input" >
    </div>
    <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)"
    class="error__input">
      <div *ngIf="repassword.errors?.['required']" class="error__input-item">
        Verify Password is required.
      </div>
      <div *ngIf="repassword.errors?.['minlength']" class="error__input-item">
        Verify Password must be at least 4 characters long.
      </div>
      <div *ngIf="repassword.errors?.['passwordMismatch']" class="error__input-item">
        Verify Password must be match.
      </div>
    </div>
    <div class="form__item">
      <button type="submit" class="btn-submit" [disabled]="!registerValidationForm.valid" > Submit</button>
    </div>
  </form>
</div>
