.app {
  font-size:1.4rem;
  display: flex;
  flex-direction: column;
  height:80rem;
}

.title {
  font-size:4rem;
  padding: 4rem;
  text-align: center;
  font-weight: 900;
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(95, 154, 180);
  border-radius: 1rem;
  width:65rem;
  margin-top:5rem;
}

.form__item {
  align-self:flex-end;
  font-size:2.5rem;
  padding:0.7rem;
}

.form__item-label {
  padding:0.7rem;
  min-width: 5rem;
  color:#fff
}

.form__item-input {
  max-width:60rem;
  min-width: 40rem;
  padding:0.7rem;
  border-radius: 1.5rem;
  margin-right: 2rem;
}

.form__item-input:focus {
  color: rgb(26, 125, 179);
}

.form__item-input:hover {
  opacity:0.9;
}

.error__input {
  margin-left:20rem;
  font-size:1.5rem;
  font-weight: 600;
}

.error__input-item {
  color: rgb(243, 83, 83);
}

.btn-submit {
  padding:0.6rem 1rem;
  color:#fff;
  background-color: rgb(62, 81, 224);
  border-radius: 1rem;
  margin-right: 24rem;
}

.btn-submit:hover {
  opacity:0.6;
}
button[disabled] {
  opacity: 0.3;
}

button[disabled]:hover {
  opacity: 0.3;
}
