/* Header */
.header {
  background-image: linear-gradient(0, #3c8dbc, #3cbc8a);
  height: 100px;
  display: flex;
  position: relative;
  width: 100%;
}
.header__icon {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: center;
  align-items: center;
}
.header__icon-item {
  font-size: 2rem;
  font-weight: 90rem;
  color: rgb(247, 247, 247);
}

.header__icon-item:hover, .header__navbar-item--strong:hover{
  opacity: 0.8;
  cursor: pointer;
  background: none;
  transition: linear 0.3s;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
}

.header__navbar-list {
  margin-top: 0px;
  padding-left: 0px;
}
.header__navbar-item {
  margin: 15px 8px;
  list-style: none;
  display: inline-block;
}
.header__navbar-login{
  justify-content: center;
}

.header__navbar-item-link,
.header__navbar-item {
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 600;
  cursor: pointer;
}
/* Footer */
.footer{
  height: 140px;
  background-image:  linear-gradient(0, #3cbc8a,  #3c8dbc);
  position: absolute;
  bottom: 0;
  width: 100%;
}
