
<div *ngIf="">

</div>
<header class="header">
  <!-- <div class="grid"> -->
    <div class="header__icon">
      <div class="header__icon-item" routerLink="">
        Practice
      </div>
    </div>
    <div class="header__navbar" >
      <ul class="header__navbar-list"*ngIf="checkLoginUser != null|| checkLoginUser != undefined">
        <li class="header__navbar-item" routerLink="employee">Employee</li>
        <li class="header__navbar-item" routerLink="department">Department</li>
        <li class="header__navbar-item">
          <a href="#" class="header__navbar-item-link"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li class="header__navbar-item"></li>
      </ul>
      <ul class="header__navbar-list" *ngIf="!checkLoginUser;"></ul>
      <ul class="header__navbar-list" *ngIf="!checkLoginUser; else afterLogin">
        <li class="header__navbar-item header__navbar-item--strong" routerLink="user/login">
          Sign In
        </li>
        <li class="header__navbar-item header__navbar-item--strong" routerLink="user/register">Sign Up</li>
        <li class="header__navbar-item"></li>
      </ul>
    <!-- </div> -->
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <h1 >This is footer</h1>
</footer>

<ng-template #afterLogin>
  <ul class="header__navbar-list">
    <li class="header__navbar-item header__navbar-item--strong" >
      Hi, {{checkLoginUser}}
    </li>
    <li class="header__navbar-item header__navbar-item--strong" (click)="Logout()"> Logout</li>
    <li class="header__navbar-item"></li>
  </ul>
</ng-template>
