.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size:3rem;
  font-weight: 600;
  margin: 7rem 0 3rem 0;
}

.content {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border-color: rgb(174, 60, 60);
  border: 0.1rem solid;
  padding: 3rem 5rem;
  display: flex;
  align-items: flex-start;
  background-color:rgb(116, 166, 219)

}

.content__input {
  padding:1rem;
}
.content__input-item {
  min-width: 28rem;
  font-size: 2rem;
  border: 0.3rem groove;
  border-radius: 0.5rem;
  border-color: rgb(61, 112, 190);

}

.error__input {
  font-size:1.2rem;
  font-weight: 600;
}

.error__input-item {
  color: rgb(239, 13, 13);
  margin-left:1rem;
}
.btn {
  display:flex;
  justify-content: center;
}
.btn-item {
  padding: 0.5rem;
  color:#fff;
  background-color: rgb(61, 112, 190);
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 2rem;
}

.btn-item:disabled {
  background-color:rgb(102, 108, 118);
  cursor: default;
}
