<div class="app">
  <div class="title">
    Reset Your Password
  </div>
  <div class="content">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">

      <div class="content__input">
          <input type="password" name="userPassword" formControlName="userPassword" class="content__input-item"  placeholder="Enter your new password" required  />
      </div>
      <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="error__input">
        <div *ngIf="userPassword.errors?.['required']" class="error__input-item">
          Password is required.
        </div>
        <div *ngIf="userPassword.errors?.['minlength']" class="error__input-item">
          Password must be at least 4 characters long.
        </div>
      </div>

      <div class="content__input">
          <input type="password"  name="repassword" formControlName="repassword" class="content__input-item" placeholder="Confirm your new password"/>
      </div>
      <div *ngIf="repassword.invalid && (repassword.dirty || repassword.touched)" class="error__input">
          <div *ngIf="repassword.errors?.['required']" class="error__input-item">
            Verify Password is required.
          </div>
          <div *ngIf="repassword.errors?.['minlength']" class="error__input-item">
            Verify Password must be at least 4 characters long.
          </div>
          <div *ngIf="repassword.errors?.['passwordMismatch']" class="error__input-item">
            Verify Password must be match.
          </div>
      </div>
      <div class="btn">
          <input type="submit" [disabled]="resetPasswordForm.invalid" value="Change Password" class="btn-item" />
      </div>
  </form>
  </div>
</div>

