<div class="app">
  <div class="title">Forgot Password</div>
  <div class="content">
    <form [formGroup]="forgotPassowrdForm" (ngSubmit)="forgotPassword(forgotPassowrdForm)">
      <div class="content__item">
        <div class="content__item-label">We will be sending a reset password link to your email.</div>
      </div>
      <div class="content__item">
        <input type="text" name="userEmail" formControlName="userEmail" class="content__item-input" placeholder="Enter your email">
      </div>

      <div class="btn-submit">
        <button type="submit" class="btn-submit-item"> Send
        </button>
      </div>
    </form>
  </div>
</div>
