.app {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  background-color:rgb(116, 166, 219);
  position: relative;
  padding: 2rem 2rem 3rem;
  border-radius: 2rem;
  height:157px;

}

.content__item + .content__item{
  padding: 1rem;
}

.content__item-label {
  font-size: 1.5rem;
  font-weight: 500;
}

.content__item-input {
  font-size: 2rem;
  border-radius: 0.5rem;
  /* border: 0.1rem groove; */
  border-color: rgba(8, 8, 175, 0.3);
  min-width: 35rem;
  min-height: 3rem;
  max-height: 3rem;
}

.content__item-input:focus {
  border-radius: 0.5rem;
  border-color: aqua;
  font-size: 2rem;
  outline: auto;
  outline-color: aqua;
  color:rgb(0, 0, 0);
  min-width: 35rem;
  min-height: 3rem;
  max-height: 3rem;
}

.content__item-input:focus-visible {
  border:none;
  outline: none;
}

.btn-submit {
  text-align: center;
}
.btn-submit-item {
  color: #fff;
  padding:1rem 1rem;
  background-color:rgb(59, 59, 236);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  width:8rem;
  cursor: pointer;
}
