@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.btn {
  width: 100%;
  background-color: rgb(39, 64, 201);
  color: white;
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  align-items: center;
}

.content {
  width: 30%;
  border-radius: 2rem;
  padding: 5rem;
  background-color:rgb(116, 166, 219);
}
.title {
  color: #333;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  letter-spacing: 1px;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
input::placeholder {
  color:rgb(55, 45, 118);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.errorMessage {
  text-align: center;
  font-size: 1.4rem;
  color: red;
  margin: 0.5rem;
  font-weight: 400;
}

.forgotpassword {
  color: rgb(87, 48, 159);
  cursor: pointer;
  padding: 0.2rem 2rem;
  margin: 0 0 0.3rem 0;
  text-align: right;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}
