<div class="app">
  <div class="title">Login</div>
  <div class="content">
      <form #formLogin="ngForm" (submit)="checkLogin(formLogin)" >
        <div class="errorMessage" *ngIf="errorLogin!=null" >{{errorLogin}}</div>
        <input type="text" name="username" placeholder="Username" required="required" ngModel class="login-input" />
        <input type="password" name="password" placeholder="Password" required="required" ngModel class="login-input" />
        <div class="forgotpassword" routerLink="../forget-password">Forgot Password</div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
      </form>
  </div>
</div>

