/* You can add global styles to this file, and also import other style files */
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.grid{
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__fullwidth{
  width: 100%;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
}

body{
  position: relative;
  min-height: 100vh;
  margin: 0;
}
